.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -60px 0 0 -60px;
  background: #fff;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 10px solid #19bee1;
    &:after {
    content: '';
    background: trasparent;
    width: 140%;
    height: 140%;
    position: absolute;
    border-radius: 100%;
    top: -20%;
    left: -20%;
    opacity: 0.7;
    box-shadow: rgba(255, 255, 255, 0.6) -4px -5px 3px -3px;
    animation: rotate 2s infinite linear;
    }
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.form-error-list{
  display: none;
  margin: 0;
  padding: 0;
  > li{
    font-size: 12px;
    list-style: none;
    color: #ff5b5b;
  }
}

.form-error{
  > div input{
    border-color: #ff5b5b !important;
  }
  > div ul.form-error-list {
    display: block;
  }
}

.open{
    > .nav-dropdown-items{
        display: block !important;
        transition-property: all;
	    transition-duration: .5s;
	    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }

    > span.menu-arrow{
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }
}

